In [2]:
import pandas as pd

In [19]:
df=pd.read_csv('NuclearGeneration(bp-stats-review-2019-all-data).csv')
df

,1965,1966,1967,1968,1969,1970,1971,1972,1974,1975,...,2015,2016,2017,2018,Contents 1973,Growth rate per annum 2007-17,Growth rate per annum 2018,Nuclear: Consumption* Million tonnes oil equivalent,Number of Records,Share 2018
0,0.028963,0.038919,0.034620,0.207721,0.119700,0.234647,0.905000,1.517000,3.146000,2.670000,...,22.876597,22.727094,22.720051,22.636377,3.236000,0.007866,-0.003683,Canada,1,0.037032
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.619618,2.391088,2.462520,3.074757,0.000000,0.004349,0.248622,Mexico,1,0.005030
2,0.870968,1.314756,1.823352,2.984072,3.317392,5.193477,9.075903,12.883658,27.147229,41.087996,...,189.875234,191.903628,191.726344,192.233230,19.883495,-0.000183,0.002644,US,1,0.314483
3,0.899931,1.353675,1.857972,3.191793,3.437092,5.428124,9.980903,14.400658,30.293229,43.757996,...,215.371449,217.021810,216.908916,217.944364,23.119495,0.000678,0.004774,Total North America,1,0.356545
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.232000,0.518000,...,1.592750,1.874689,1.377563,1.555099,0.000000,-0.017371,0.128877,Argentina,1,0.002544
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.333971,3.589705,3.561388,3.537175,0.000000,0.024548,-0.006799,Brazil,1,0.005787
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Chile,1,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Colombia,1,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Ecuador,1,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Peru,1,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Trinidad & Tobago,1,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Venezuela,1,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.011540,0.010182,0.009504,0.016518,0.005883,0.005657,...,0.000000,0.000000,0.000000,0.000000,0.010409,0.000000,0.000000,Central America,1,0.000000
13,0.000000,0.002715,0.008598,0.004073,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Other Caribbean,1,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Other South America,1,0.000000
15,0.000000,0.002715,0.008598,0.004073,0.011540,0.010182,0.009504,0.016518,0.237883,0.523657,...,4.926721,5.464394,4.938950,5.092274,0.010409,0.010801,0.031044,Total S. & Cent. America,1,0.008331
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Austria,1,0.000000
17,0.000000,0.001358,0.021270,0.013803,0.004978,0.012898,0.000000,0.002489,0.033489,1.535050,...,5.906458,9.848169,9.554872,6.443511,0.017197,-0.013199,-0.325631,Belgium,1,0.010541
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.210000,0.578000,...,3.479907,3.569680,3.517559,3.654017,0.000000,0.005999,0.038793,Bulgaria,1,0.005978
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Croatia,1,NaN
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Cyprus,1,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.073404,5.454179,6.412545,6.770444,0.000000,0.007988,0.055812,Czech Republic,1,0.011076
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Denmark,1,0.000000
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,Estonia,1,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.317702,5.306769,5.138588,5.213616,0.000000,-0.004199,0.014601,Finland,1,0.008529
25,0.239000,0.363000,0.661000,0.801000,1.122000,1.292257,2.110920,3.301579,3.328506,4.129067,...,98.979047,91.232973,90.138008,93.490543,3.337783,-0.009833,0.037193,France,1,0.152946
26,0.031000,0.077000,0.342000,0.454000,1.206000,1.469000,1.407000,2.155000,3.272000,5.463000,...,20.768953,19.150563,17.270308,17.219532,2.739000,-0.059220,-0.002940,Germany,1,0.028170
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Greece,1,0.000000
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.582929,3.632601,3.642485,3.559986,0.000000,0.009282,-0.022649,Hungary,1,0.005824
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Iceland,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.768928,3.600814,3.565266,2.509487,0.000000,0.033647,-0.296129,South Africa,1,0.004105
74,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Eastern Africa,1,0.000000
75,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Middle Africa,1,0.000000
76,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Western Africa,1,0.000000
77,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Other Northern Africa,1,0.000000
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Southern Africa,1,NaN
79,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.768928,3.600814,3.565266,2.509487,0.000000,0.033647,-0.296129,Total Africa,1,0.004105
80,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Australia,1,0.000000
81,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Bangladesh,1,0.000000
82,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.645291,48.261529,56.138842,66.606327,0.000000,0.148504,0.186457,China,1,0.108964
83,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,China Hong Kong SAR,1,0.000000
84,0.000000,0.000000,0.000000,0.000000,0.164000,0.296000,0.220000,0.209000,0.407000,0.485000,...,8.668036,8.575273,8.465957,8.836199,0.442000,0.076923,0.043733,India,1,0.014456
85,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Indonesia,1,0.000000
86,0.006000,0.084000,0.192000,0.163000,0.212000,0.748000,1.606000,1.987000,4.205000,4.913000,...,1.023760,4.000173,6.578731,11.111463,2.149000,-0.202393,0.688998,Japan,1,0.018178
87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Malaysia,1,0.000000
88,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,New Zealand,1,0.000000
89,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011000,0.046000,0.120000,0.138000,...,1.087704,1.314884,1.893696,2.235489,0.086000,0.127662,0.180490,Pakistan,1,0.003657
90,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Philippines,1,0.000000
91,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Singapore,1,0.000000
92,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,37.281626,36.655452,33.585266,30.209078,0.000000,0.003776,-0.100526,South Korea,1,0.049420
93,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Sri Lanka,1,0.000000
94,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.252505,7.164177,5.078857,6.263837,0.000000,-0.057404,0.233316,Taiwan,1,0.010247
95,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Thailand,1,0.000000
96,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Vietnam,1,0.000000
97,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Other Asia Pacific,1,0.000000
98,0.006000,0.084000,0.192000,0.163000,0.376000,1.044000,1.837000,2.242000,4.732000,5.536000,...,94.958923,105.971488,111.741349,125.262394,2.677000,-0.009804,0.121003,Total Asia Pacific,1,0.204923
99,5.834931,7.823748,9.595840,11.884669,14.354610,17.741461,24.891327,34.144244,59.598107,82.445770,...,582.784225,591.764049,597.135854,611.266687,45.855884,-0.003983,0.023664,Total World,1,1.000000
100,5.413931,7.354032,9.077242,11.171596,13.357070,16.442278,23.431823,31.647726,53.767224,74.246113,...,446.830067,446.426626,443.408670,446.070346,42.079476,-0.016110,0.006003,of which: OECD,1,0.729748
101,0.421000,0.469715,0.518598,0.713073,0.997540,1.299182,1.459504,2.496518,5.830883,8.199657,...,135.954158,145.337424,153.727184,165.196341,3.776409,0.044096,0.074607,Non-OECD,1,0.270252
102,4.508000,5.916358,7.027270,7.816803,9.587978,9.702155,11.221920,14.448068,18.084995,24.485117,...,194.004300,190.052952,187.813161,187.218759,15.391980,-0.011896,-0.003165,European Union #,1,0.306280

In [20]:
df['countries']=df['Nuclear: Consumption* Million tonnes oil equivalent']
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1974,1975,...,2016,2017,2018,Contents 1973,Growth rate per annum 2007-17,Growth rate per annum 2018,Nuclear: Consumption* Million tonnes oil equivalent,Number of Records,Share 2018,countries
0,0.028963,0.038919,0.034620,0.207721,0.119700,0.234647,0.905000,1.517000,3.146000,2.670000,...,22.727094,22.720051,22.636377,3.236000,0.007866,-0.003683,Canada,1,0.037032,Canada
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.391088,2.462520,3.074757,0.000000,0.004349,0.248622,Mexico,1,0.005030,Mexico
2,0.870968,1.314756,1.823352,2.984072,3.317392,5.193477,9.075903,12.883658,27.147229,41.087996,...,191.903628,191.726344,192.233230,19.883495,-0.000183,0.002644,US,1,0.314483,US
3,0.899931,1.353675,1.857972,3.191793,3.437092,5.428124,9.980903,14.400658,30.293229,43.757996,...,217.021810,216.908916,217.944364,23.119495,0.000678,0.004774,Total North America,1,0.356545,Total North America
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.232000,0.518000,...,1.874689,1.377563,1.555099,0.000000,-0.017371,0.128877,Argentina,1,0.002544,Argentina

In [21]:
df=df[['countries','1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
df.head()

,countries,1965,1966,1967,1968,1969,1970,1971,1972,1974,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Canada,0.028963,0.038919,0.034620,0.207721,0.119700,0.234647,0.905000,1.517000,3.146000,...,20.243705,20.371088,21.029579,21.315680,23.243077,24.106108,22.876597,22.727094,22.720051,22.636377
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.376132,1.330326,2.282933,1.984341,2.670016,2.189711,2.619618,2.391088,2.462520,3.074757
2,US,0.870968,1.314756,1.823352,2.984072,3.317392,5.193477,9.075903,12.883658,27.147229,...,190.274600,192.207159,188.214253,183.242605,187.931316,189.872400,189.875234,191.903628,191.726344,192.233230
3,Total North America,0.899931,1.353675,1.857972,3.191793,3.437092,5.428124,9.980903,14.400658,30.293229,...,212.894438,213.908572,211.526766,206.542626,213.844409,216.168219,215.371449,217.021810,216.908916,217.944364
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.232000,...,1.851609,1.631443,1.448160,1.448613,1.404489,1.247681,1.592750,1.874689,1.377563,1.555099

In [23]:
df=df[df.countries.str.contains('Total|Other|America|Europe|Union|Middle|Western|OECD')==False]
#df=df[df.countries.str.contains('Other')==False]
df.head()

,countries,1965,1966,1967,1968,1969,1970,1971,1972,1974,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Canada,0.028963,0.038919,0.034620,0.207721,0.119700,0.234647,0.905000,1.517000,3.146000,...,20.243705,20.371088,21.029579,21.315680,23.243077,24.106108,22.876597,22.727094,22.720051,22.636377
1,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.376132,1.330326,2.282933,1.984341,2.670016,2.189711,2.619618,2.391088,2.462520,3.074757
2,US,0.870968,1.314756,1.823352,2.984072,3.317392,5.193477,9.075903,12.883658,27.147229,...,190.274600,192.207159,188.214253,183.242605,187.931316,189.872400,189.875234,191.903628,191.726344,192.233230
4,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.232000,...,1.851609,1.631443,1.448160,1.448613,1.404489,1.247681,1.592750,1.874689,1.377563,1.555099
5,Brazil,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.931846,3.286228,3.543326,3.629090,3.495880,3.479763,3.333971,3.589705,3.561388,3.537175

In [26]:
df.set_index('countries')
df.shape

(81, 54)

In [30]:
df.to_excel(r'C:\Users\katya\Documents\DD Storytelling\nuclear_consumptions_bp_2019_clean.xlsx')

In [ ]:
df1=df[df.countries.str.contains('Total')]

In [125]:
df1=df[df.countries.str.contains('Total')]
df1.head()

,countries,1965,1966,1967,1968,1969,1970,1971,1972,1974,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Total North America,0.899931,1.353675,1.857972,3.191793,3.437092,5.428124,9.980903,14.400658,30.293229,...,212.894438,213.908572,211.526766,206.542626,213.844409,216.168219,215.371449,217.021810,216.908916,217.944364
15,Total S. & Cent. America,0.000000,0.002715,0.008598,0.004073,0.011540,0.010182,0.009504,0.016518,0.237883,...,4.783455,4.917671,4.991487,5.077703,4.900369,4.727443,4.926721,5.464394,4.938950,5.092274
50,Total Europe,4.508000,5.916358,7.027270,7.816803,9.707978,10.266155,11.844920,15.260068,19.478995,...,227.336907,233.526739,231.743202,225.905442,223.217051,224.623665,219.094786,213.189576,211.821276,212.130975
59,Total CIS,0.421000,0.467000,0.510000,0.709000,0.822000,0.993000,1.219000,2.225000,4.856000,...,37.578902,39.124021,39.708852,40.694416,39.568222,41.458614,44.860821,45.027579,46.559526,46.743239
69,Total Middle East,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.025142,0.334384,0.978011,0.936779,0.802598,1.488387,1.600572,1.583956

In [37]:
#df.info()

In [38]:
#df.columns = pd.to_datetime(df.columns)

In [45]:
df.index=='Total*'

False

In [ ]:
df = df[df.columns.drop(list(df.filter(regex='Test')))]